.searchForm input[type="month"] {
  flex: 1;
  min-width: 300px;
  height: 42px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-inline-budget {
  display: flex;
 }
 
 .btn-wrap-budget{
   margin-left: 10px;
   display: flex;
   justify-content: left;
   gap: 8px;
}

.btn-wrap-budget .btnNavy {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #2c3e50;
  color: #fff;
}