  /* ==================== 버튼 ==================== */
  .row {
	display: flex;
	justify-content: left;
	gap: 10px;
	margin-top: 30px;
	grid-column: 1 / -1;
  }

  #poTable {
	grid-column: 1 / -1;
  }
  
  #addRow,
  #delRow {
	background: #ccc;
	color: white;
	font-weight: 600;
	border: none;
	padding: 10px 28px;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s;
  }