.mb-4 {
	width: 100%;
	max-width: 1024px;
	margin-bottom: 20px;	
}

.mb-4 input[type="month"] {
  flex: 1;
  min-width: 300px;
  height: 42px;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.mb-4 input[type="submit"] {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.2s;
  background-color: #2c3e50;
  color: #fff;
}

.form-inline-tax {
  display: flex;
 }
 
 .btn-wrap-tax{
   margin-left: 10px;
   display: flex;
   justify-content: left;
   gap: 8px;
}

.btn-wrap-tax .btnNavy {
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #2c3e50;
  color: #fff;
}